{% extends 'base.html' %}
{% block content %}
  <h1 style="width:600px;margin:0px auto; color: #0000A0 ">Application form</h1>
<div style="width:600px;margin:60px auto;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 1px 2px 3px 1px grey;
">
  
    <form  method="POST" action=''>
      <table>
      {% csrf_token %}
    {{application_form.as_table}}
        
      </table>
        <button type="submit" name="_submit" class="btn" style="background-color: #736AFF;
        color: white;
        padding: 12px 20px;
        border: none;
        margin-top:36px; 
        margin-bottom: 48px;
        border-radius: 4px;
        cursor: pointer;
        float: right;
        ">Submit</button>
        </form>
      </div>
{% endblock %}
